@import url( 'https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap' );

:root {
                /* Colors */
    /* Primary */
    --Pale-blue: hsl( 225, 100%, 94% );
    --Bright-blue: hsl(245, 75%, 52%);
    /* Neutral */
    --Very-pale-blue: hsl( 225, 100%, 98% );
    --Desaturated-blue: hsl( 224, 23%, 55% );
    --Dark-blue: hsl( 223, 47%, 23% );
              /* Typography */
    /* Body Copy */
    --Font-size: 16px
}

body {
    background-color: var( --Pale-blue );
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
    font-size: var( --Font-size );
    margin: 0;
    padding: 0;
    font-weight: 400;
}
body::before {
    background-image: url( /images/pattern-background-desktop.svg );
    background-repeat: no-repeat;
    top: -150px;
    content: ' ';
    display: block;
    height: 90%;   
    position: absolute;
    width: 100%;
    z-index: -1;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

/* Todo: Card Section */
.card {
    background-color: white;
    width: 350px;
    height: 540px;
    margin: 30px auto;
    border-radius: 15px;
}
.card__hero {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.container {
    margin: 0 auto;
    width: 270px;
}
.card__title {
    color: var(--Dark-blue);   
    font-weight: 900;
    font-size: 23px;
    margin-top: 35px; 
    text-align: center;
}
.card__paragraph {
    color: var( --Desaturated-blue );
    margin-top: 20px; 
    padding: 0 6px;
    font-size: 13px;
    text-align: center;
}
.card__plan {
    align-items: center;
    background-color: var( --Very-pale-blue );
    border-radius: 10px;
    display: flex;
    height: 10vh;
    margin-top: 35px;
    padding: 10px;
}
.card__plan--icon {
    width: 40px;
}
.card__plan--information p {
    margin: 2px;
    padding-left: 10px;
    font-size: 13px;
}
.card-title {
    font-weight: 700;
    color: var( --Dark-blue );
}
.card-price {
    color: var( --Desaturated-blue ); 
}
.card__plan--change {
    padding-left: 70px;
    font-size: 13px;
    font-weight: 700;
    transition: all .10s ease-out;
}
.card__plan--change:hover {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}
.card__button--payment {
    display: block;
    text-align: center;
    margin: 25px 0;
    text-decoration: none;
    background-color: var( --Bright-blue );
    color: var( --Very-pale-blue );
    padding: 10px;
    border-radius: 10px;
    transition: all .5s ease-out;
}
.card__button--payment:hover {
    background-color: hsl(271, 75%, 52%);
}
.card__button--cancel {
    display: block;
    text-align: center;
    margin-top: -10px;
    text-decoration: none;
    color: var( --Desaturated-blue );
    transition: all .5s ease-out;
}

.card__button--cancel:hover {
    color: var( --Dark-blue );
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
 
@media ( max-width: 375px ) {
    body::before {
        background-image: url( /images/pattern-background-mobile.svg );
    }
}